@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,table,tr,td,form,p,ul,li,ol,span,img,a,em,i,strong,b,input,select,option,textarea,label{ margin:0; padding:0;}
li{ list-style:none;}
img{ border:0 none; vertical-align:top;}
a{ color:#404040; text-decoration:none;}
a:hover{ color:#ff4400;}
body{ font-family:"宋体"; font-size:12px; background:#FFF; width:100%; height:100%; min-width:1280px;}
.clearfix{ zoom:1;}
.clearfix:after{ content:"."; clear:both; visibility:hidden; height:0; display:block;}
/*基本要写的*/

.title{ width:1260px; height:25px; padding-top:8px; margin:0 auto; font-size:13px; font-weight:600;}
.tou_zuo{ float:left; padding-left:99px;}
.tou_you{ float:left; padding-left:499px;}
.tou_zuo li{ padding-right:31px; float:left;}
.tou_you li{ padding-left:31px; float:left;}
.head{ height:747px;width:100%; background:#f4e033; background-image:url(../image/2.jpg); background-repeat:no-repeat; background-position:center; padding-top:426px;}
.head_1{ margin:0 auto; height:70px; width:990px;background-image:url(../image/3.jpg); margin-bottom:20px;}
.head_1 a{ width:495px; height:70px; float:left;}
.x1{ height:428px; background:#fff; width:990px; margin:0 auto; padding-top:20px;}
.x1 li{float:left; width:47px; overflow:hidden; margin-left:1px; margin-top:-1px;
	transition:all 0.5s;}
	
.neirong{width:100%; background:#e04ede; position:relative;}
.biaoti1{ position:absolute; top:-173px; left:50%; margin-left:-180px;}
.biaoti2{ position:absolute; left:50%; top:-119px; width:990px; height:170px; margin-left:-495px;}
.list{ width:990px; overflow:hidden; margin:0 auto; padding-top:59px;}
.list ul{ width:110%;}
.list ul li{ margin:10px 10px 0 0; float:left; width:190px; height:330px; background:#FFF; position:relative;}
.list_1{ padding-left:66px; padding-top:12px;}
.list_2{ padding-left:33px; padding-top:12px;}
.list_3{ padding-left:27px; padding-top:8px;}
.list_zong{ display:none; width:100%; height:100%;}
.list_hover{ position:absolute; top:0px; left:0px;height:330px; width:190px; background:rgba(0,0,0,0.3); }
.list_hover_link{ position:absolute; bottom:13px; left:50%; margin-left:-86px}
.list li:hover .list_zong{ display:block;}
.girl_ju{ width:990px; margin:0 auto; padding:18px 0 5px 0; overflow:hidden;}
.girl_ju1{ width:277px; height:120px;margin:0 auto; background-image:url(../image/16.png); background-position:-13px -54px; }
.girl_ju2{ width:110%;}
.girl_ju2 li{ background:#FFF; width:324px; height:242px; margin-right:9px; float:left;}
.mei{width:994px; overflow:hidden; margin:0 auto; }
.mei1{  width:348px; height:151px;margin:0 auto; background-image:url(../image/16.png); background-position:-153px -394px; margin-bottom:19px;}
.mei2{ height:36px; width:990px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -15px; padding-top:6px; margin-bottom:10px;}
.mei3{ height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -178px; }
.mei4{ width:110%; padding-left:2px; padding-bottom:60px;}
.mei4 li{ background:#FFF;width:190px; height:355px; margin-right:10px; margin-top:10px; float:left; position:relative;}
.mei5{ width:100%; height:353px;position: absolute; left:0px; top:0px;display:none;}
.mei4_link{ position:absolute; bottom:6px; left:50%; margin-left:-84px;}
.mei4_hover{ width:100%; height:100%; border:2px solid #e9d83f; position:absolute; left:-2px; top:-2px;}
.mei4 li:hover .mei5{ display:block;}
.mei6{position:absolute; bottom:8px; left:50%; margin-left:-84px;}
.shu{ width:994px; margin:0 auto; overflow:hidden;}
.shu1{ height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -223px; }
.zhi{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:-1px -264px;}
.zui{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:-1px -300px;}
.pian{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:-2px -338px;}
.zhong{ width:348px; height:73px; margin:0 auto;background-image:url(../image/16.png); background-position:-345px -95px; margin-bottom:19px;}
.neirong2{ width:100%; background:#753ac8; position:relative;}
.boy_biaoti{ width:990px; height:153px; background-image:url(../image/21.jpg); margin:0 auto; padding-top:6px; padding-bottom:133px;}
.boy_biaoti1{ width:348px; height:153px; margin:0 auto;background-image:url( ../image/16.png); background-position: -150px -190px;}
.boy_biaoti2{ background-image:url(../image/22.png); width:990px; height:140px; position:absolute; top:142px; left:50%; margin-left:-495px}
.boy_list{ width:990px; padding-bottom:12px;overflow:hidden; margin:0 auto;}
.boy_list ul{ width:110%;}
.boy_list ul li{ margin:10px 10px 0 0; float:left; width:190px; height:330px; background:#FFF; position:
relative;}
.boy_list li:hover .list_zong{ display:block;}
.boy{ height:36px; width:990px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -567px; padding-top:6px; margin-bottom:10px;}
.boyshushi{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -485px;}
.boyshangwu{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -447px;}
.boygexing{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -412px;}
.boyjijian{height:27px; width:112px;margin:0 auto; background-image:url(../image/16.png); background-position:0 -375px;}
.y{ width:110%; padding-left:2px; padding-bottom:35px;}
.y li{ background:#FFF;width:190px; height:310px; margin-right:10px; margin-top:10px; float:left; position:relative;}
.y1{ width:100%; height:308px;position: absolute; left:0px; top:0px;display:none;}
.y_link{ position:absolute; bottom:6px; left:50%; margin-left:-84px;}
.y_hover{ width:100%; height:100%; border:2px solid #5c29c4; position:absolute; left:-2px; top:-2px;}
.y li:hover .y1{ display:block;}
.neirong2 .mei4_hover{ border-color:#1e5fc3;}
.neirong2 .y_hover{ border-color:#f4e033;}
.fix{ width:119px; position:fixed; left:50%; top:50%; margin-left:512px; margin-top:-222px;}
.fix a{ color:#FFF;}
.girl_fix dt{ background:#ff2266; background:url(../image/32.png) no-repeat -13px -14px #ff2266; line-height:36px; height:36px; font-size:17px; padding-left:33px;}
.girl_fix dd{ margin-left:2px; width:115px;height:26px; line-height:26px; text-align:center; background:url(../image/32.png) no-repeat 17px 10px #e23bdf; letter-spacing:10px; font-size:15px;}
.boy_fix dt{ background:#ff2266; background:url(../image/32.png) no-repeat -10px -40px #ff2266; line-height:36px; height:36px; font-size:17px; padding-left:34px;}
.boy_fix dd{ margin-left:2px; width:115px;height:26px; line-height:26px; text-align:center; background:url(../image/32.png) no-repeat 17px 10px #6e2ccb; letter-spacing:10px; font-size:15px;}
.juhuasuan{ width:119px; height:28px; background:#ff2266; text-align:center; line-height:28px; font-size:17px;}
.top{background:url(../image/32.png) no-repeat 53px -74px #333333; height:41px; line-height:41px; text-align:center; font-size:13px; }


